@import '~dcp-covid19.github.io/style/common';
@import '~dcp-covid19.github.io/style/header';
@import 'global';
a.header-link {
  color: #888;
  font-weight: bold;
}

a.header-link.active {
  color: $custom-green;
}
